<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="logImpl" value="SLF4J"/>
    </settings>
    <typeAliases>
        <typeAlias type="org.medicinefreedom.member.core.data.typehandler.GenderTypeHandler" alias="GenderTypeHandler"/>
        <typeAlias type="org.medicinefreedom.member.core.data.typehandler.SetTypeHandler" alias="SetTypeHandler"/>
        <typeAlias type="org.medicinefreedom.member.core.data.typehandler.BooleanTypeHandler" alias="BooleanTypeHandler"/>
        <typeAlias type="org.apache.ibatis.type.EnumOrdinalTypeHandler" alias="EnumOrdinalTypeHandler"/>
        <typeAlias type="org.medicinefreedom.member.core.data.dataobject.PatientBasicInfoDO" alias="PatientBasicInfoDO" />
    </typeAliases>
    <typeHandlers>
        <package name="org.medicinefreedom.member.core.data.typehandler"/>
    </typeHandlers>
</configuration>